<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.yyzx.mapper.CustomerpreferenceMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.yyzx.pojo.Customerpreference">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="food_id" property="foodId"/>
        <result column="preference_type" property="preferenceType"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="VoResultMap" type="com.neuedu.yyzx.vo.CustomerPreferenceVo" extends="BaseResultMap">
        <result column="customer_name" property="customerName"/>
        <result column="food_name" property="foodName"/>
        <result column="food_type" property="foodType"/>
    </resultMap>

    <sql id="Base_Column_List">
        cp.id, cp.customer_id, cp.food_id, cp.preference_type, cp.is_deleted
    </sql>

    <select id="selectCustomerPreferenceVo" resultMap="VoResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            c.customer_name AS customer_name,
            f.food_name AS food_name,
            f.food_type AS food_type
        FROM customerpreference cp
        LEFT JOIN customer c ON cp.customer_id = c.id AND c.is_deleted = 0
        LEFT JOIN food f ON cp.food_id = f.id AND f.is_deleted = 0
        <where>
            cp.is_deleted = 0
            <if test="customerName != null and customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{customerName}, '%')
            </if>
        </where>
        ORDER BY cp.id DESC
    </select>

</mapper>
