<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.yyzx.mapper.MealMapper">

    <resultMap id="BaseResultMap" type="com.neuedu.yyzx.pojo.Meal">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="meal_date" property="mealDate"/>
        <result column="meal_type" property="mealType"/>
        <result column="food_ids" property="foodIds"/>
        <result column="create_time" property="createTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="VoResultMap" type="com.neuedu.yyzx.vo.MealVo" extends="BaseResultMap">
        <result column="customer_name" property="customerName"/>
        <result column="food_names" property="foodNames"/>
        <result column="meal_date_str" property="mealDateStr"/>
    </resultMap>

    <sql id="Base_Column_List">
        m.id, m.customer_id, m.meal_date, m.meal_type, m.food_ids,
        m.create_time, m.is_deleted
    </sql>

    <select id="selectMealVo" resultMap="VoResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            c.customer_name AS customer_name,
            DATE_FORMAT(m.meal_date, '%Y-%m-%d') AS meal_date_str
        FROM meal m
        LEFT JOIN customer c ON m.customer_id = c.id AND c.is_deleted = 0
        <where>
            m.is_deleted = 0
            <if test="customerName != null and customerName != ''">
                AND c.customer_name LIKE CONCAT('%', #{customerName}, '%')
            </if>
        </where>
        ORDER BY m.meal_date DESC, m.create_time DESC
    </select>

</mapper>
